BASE_HOST=http://127.0.0.1:5560
NEXTAUTH_URL=http://127.0.0.1:5560
LANGWATCH_API_URL=http://127.0.0.1:5560
AUTH_PROVIDER=email
NEXTAUTH_SECRET=REPLACE_UNIQUE_RANDOM_1
CREDENTIALS_SECRET=REPLACE_UNIQUE_RANDOM_2
API_TOKEN_JWT_SECRET=REPLACE_UNIQUE_RANDOM_3
LANGWATCH_INSTANCE_ADMIN_API_KEY=REPLACE_UNIQUE_RANDOM_4
LW_GATEWAY_INTERNAL_SECRET=REPLACE_UNIQUE_RANDOM_5
LW_GATEWAY_JWT_SECRET=REPLACE_UNIQUE_RANDOM_6
DATABASE_URL=postgresql://prisma:REPLACE_POSTGRES_PASSWORD@postgres:5432/mydb
CLICKHOUSE_URL=http://default:REPLACE_CLICKHOUSE_PASSWORD@clickhouse:8123
LANGWATCH_LOCAL_STORAGE_PATH=/app/storage
DISABLE_USAGE_STATS=true
